* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 32px;
}

pre {
    background-color: #e2e4e6;
    border-radius: 8px;
    display: block;
    padding: 16px;
    font-family: "Roboto Mono", monospace;
}

hr {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    height: 2px;
    border: 0;
    margin: 32px 0;
}

#back {
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #02040688;
    border-radius: 64px;
    transition-property: box-shadow bottom;
    transition-duration: 0.4s;
    border: 0;
    background-color: #f2f4f6;
}

#back:hover {
    box-shadow: 0 0px 8px #02040688;
    cursor: pointer;
}

#back:active {
    background-color: #e2e4e6;
    box-shadow: 0 0px 3px #02040688;
    cursor: pointer;
}