p, button, a, label {
    font-family: 'Roboto', sans-serif;
}

textarea {
    font-family: 'Roboto Mono', monospace;
    display: inline;
}

#marked {
    font-family: 'Roboto', sans-serif;
}

#description {
    color: gray;
    font-size: smaller; /*0.8em*/
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.4em;
}

#news-type {
    color: gray;
    font-size: smaller; /*0.8em*/
    letter-spacing: 0.4em;
}

body {
    padding: 16px;
}

#title {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    line-height: 0em;
    text-align: center;
    width: 100%;
}

#back {
    float: left;
    bottom: 16px;
    left: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom background-color;
    transition-duration: 0.4s;
    background-color: white;
    border: 0;
}

#back:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#back:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

::placeholder {
    color: lightgrey;
}

#main {
    box-shadow: 0 2px 16px #0004;
    border-radius: 16px;
    border-top: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
    padding: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}

#text-container {
    height: 45vh;
    width: 100%;
}

#creator {
    position: relative;
    float: right;
    display: inline-flex;
    align-items: center;
}

#face {
    height: 48px;
    display: inline;
    border-radius: 48px;
    margin-left: 16px;
    box-shadow: 0 2px 16px #0004;
}

#ok {
    float: right;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom background-color;
    transition-duration: 0.4s;
    border: 0;
    background-color: white;
}

#ok:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#ok:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#formatting {
    margin-left: 16px;
    float: left;
    top: 16px;
    right: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom;
    transition-duration: 0.4s;
    border: 0;
    background-color: white;
    margin-bottom: 16px;
}

#formatting:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#formatting:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#creator-name {
    display: inline;
}

#text {
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-bottom: 8px;
}