.news {
    box-shadow: 0 2px 16px #0004;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.4s;
    border: 4px solid #ddd;
    margin-bottom: 16px;
    background-color: white;
}

.news:hover {
    background-color: #ddd;
}

.creator {
    float: right;
    border-bottom: 4px solid #ddd;
    border-left: 4px solid #ddd;
    padding: 16px;
    border-radius: 0 16px 0 16px;
    display: inline-flex;
    align-items: center;
    width: 14em;
}

.content {
    padding: 16px;
}

p, h3, button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    line-height: 0em;
    text-align: center;
}

.creator-name {
    margin: 0;
    display: inline;
    font-size: small; /*0.9em*/
}

.preview-text {
    color: #0008;
    font-size: small; /*0.9em*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
}

#description {
    color: gray;
    font-size: smaller; /*0.8em*/
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.4em;
}

h3 {
    text-transform: uppercase;
}

body {
    padding: 16px;
    background-image: url(../icons/lonely.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.important {
    background-color: #fdd;
    border: 4px solid lightcoral;
}

.important .creator {
    border-bottom: 4px solid lightcoral;
    border-left: 4px solid lightcoral;
}

.important:hover {
    background-color: lightcoral;
}

.face {
    height: 48px;
    display: inline;
    border-radius: 48px;
    margin-right: 16px;
    box-shadow: 0 2px 16px #0004;
}

#new {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom;
    transition-duration: 0.4s;
    border: 0;
}

#new:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#new:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#username {
    position: fixed;
    box-shadow: 0 0 10px #0004;
    top: 0;
    right: 0;
    padding: 16px;
    border-bottom-left-radius: 16px;
    margin: 0;
}

#subscribe {
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom;
    transition-duration: 0.4s;
    border: 0;
}

#subscribe:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#subscribe:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

.linklike {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #e8e8e8;
}

::-webkit-scrollbar-thumb:active {
    background: url(../icons/slider.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
}
