p, h3, pre, button, h1, div {
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
}

body>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 0;
    text-align: center;
}

#description {
    color: gray;
    font-size: smaller; /*0.8em;*/
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    letter-spacing: 0.4em;
}

body {
    padding: 16px;
}

#main {
    box-shadow: 0 2px 16px #0004;
    border-radius: 16px;
    border-top: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
    padding: 16px 16px 16px 32px;
    overflow: hidden;
}

#creator {
    position: relative;
    float: right;
    display: inline-flex;
    align-items: center;
}

#face {
    height: 48px;
    display: inline;
    border-radius: 48px;
    margin-left: 16px;
    box-shadow: 0 2px 16px #0004;
}

#delete {
    bottom: 16px;
    right: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom background-color;
    transition-duration: 0.4s;
    border: 0;
    background-color: white;
}

#delete:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#delete:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#rewrite {
    bottom: 16px;
    right: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom background-color;
    transition-duration: 0.4s;
    border: 0;
    background-color: white;
    margin-right: 16px;
}

#rewrite:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#rewrite:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#back {
    bottom: 16px;
    left: 16px;
    padding: 16px;
    box-shadow: 0 2px 16px #0008;
    border-radius: 64px;
    transition-property: box-shadow bottom background-color;
    transition-duration: 0.4s;
    border: 0;
    background-color: white;
}

#back:hover {
    box-shadow: 0 0px 8px #0008;
    cursor: pointer;
}

#back:active {
    background-color: #eee;
    box-shadow: 0 0px 3px #0008;
    cursor: pointer;
}

#creator-name {
    display: inline;
}